<li>
	<a href="/jobs/{{ j.id | urlencode }}" hx-get="/jobs/{{ j.id | urlencode }}" hx-target="#results" hx-push-url="true">
		{{ j.companyName }}
	</a>
	<span class="status">{{ j.status }}</span>
</li>
